<%= simple_nested_form_for(@creature) do |f| %>
  
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :ctype %>
    <%= f.input :description %>
    <%= f.input :hp %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>	
  </div>

<% end %>

<%= link_to "Back to Creatures", creatures_path %>
