<h1><%= @creature.name %> </h1>

<strong>HP</strong>: <%= @creature.hp %> <br>
<strong>Type</strong>: <%= @creature.ctype %> <br>
<strong>Description</strong>: <%= @creature.description %> <br>
<br>
<br>
<%= link_to "Back to Creatures", creatures_path %>
